# Pandas DataFrame
参考资料：
[pandas 官方文档](https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe)

## DataFrame 是什么
- 是二维的、带标签的数据结构
- 可以看作 Sql 表，或者是 Series 对象的的字典（一个序列对象就是一列）
- 拥有行索引 index
- 拥有列索引 columns
- 如果加了索引或列名，不匹配的数据将会被丢弃掉
- 对于 Python version >= 3.6 and pandas >= 0.23，DataFrame 列的顺序是插入这些列的顺序；否则为列名的字典顺序

## 1. 创建DataFrame

### 通过 Series 的字典创建

In [6]:
import pandas as pd
d = {
   "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
   "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
   }

df = pd.DataFrame(d)
print(df)
print("\n")

df = pd.DataFrame(d, index=["d", "b", "a"])
print(df)
print("\n")

df = pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])
print(df)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0


   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0


   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

### 通过 ndarrays / lists 的字典创建
注意：ndarrays / lists 的长度必须相同

In [9]:
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}
df = pd.DataFrame(d)
print(df)
print("\n")

df = pd.DataFrame(d, index=["a", "b", "c", "d"])
print(df)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0


   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

### 通过 ndarrays 的创建
注意：ndarrays 的每一个元素是一个元组，是 DataFrame 的一行记录

In [14]:
import numpy as np

data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])
print(data)

data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]
print(data)

df = pd.DataFrame(data)
print(df)

df = pd.DataFrame(data, index=["first", "second"])
print(df)

df = pd.DataFrame(data, columns=["C", "A", "B"])
print(df)

[(0, 0., b'') (0, 0., b'')]
[(1, 2., b'Hello') (2, 3., b'World')]
   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'
        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'
          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

## 2. 数据规整

在[Tidy Data](https://www.jstatsoft.org/article/view/v059i10)的论文中，为了更高效地分析数据，提出了“规整”的数据结构定义：
- 每个变量是一列
- 每次观测结果是一行
- 不同的观测类型存放在单独的表中

案例：下表展示了歌曲从进入Billboard Top 100 到接下来的75周内歌曲的每周排名。
- 周数（x1st.week，…）是列标题
- 如果一首歌曲进入前100名的时间少于75周，则其余列将填充缺失值。

In [2]:
import pandas as pd
df = pd.read_csv("../data/billboard.csv", encoding="mac_latin2")
df.head(10)

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,51,39.0,34.0,26.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,97,97.0,96.0,95.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,84,62.0,51.0,41.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Aaliyah,Try Again,4:03,2000-03-18,59,53.0,38.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,76,76.0,74.0,69.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

同样，以上数据集中的"wk1"、"wk2"等是"星期"变量等具体值，需要对它们进行`melt`，其参数为：

- frame: 需要处理的dataframe；
- id_vars: 保持原样的数据列；
- value_vars: 需要被转换成变量值的数据列；
- var_name: 转换后变量的列名；
- value_name: 数值变量的列名。

In [3]:
id_vars = ["year",
           "artist",
           "track",
           "time",
           "date.entered"]

melted_df = pd.melt(frame=df,
             id_vars=id_vars, 
             var_name="week", 
             value_name="rank")

melted_df = melted_df.sort_values(by=["year", "artist", "track", "time", "date.entered"])
melted_df.head(10)

      year artist                    track  time date.entered  week  rank
0     2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk1  87.0
317   2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk2  82.0
634   2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk3  72.0
951   2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk4  77.0
1268  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk5  87.0
1585  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk6  94.0
1902  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk7  99.0
2219  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk8   NaN
2536  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk9   NaN
2853  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk10   NaN

以上`melt`之后对数据存在一个问题：歌曲名称、作者、发表年份存在重复，因此还不算规整。
1. 首先创建一个songs表，其中包含每首歌曲的详细信息
2. 创建一个ranks表只包含song_id，date以及rank

In [4]:
songs_cols = ["year", "artist", "track", "time", "date.entered"]
songs = melted_df[songs_cols].drop_duplicates()
songs = songs.reset_index(drop=True)
songs["song_id"] = songs.index
songs.head(10)

   year          artist                    track  time date.entered  song_id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26        0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   2000-09-02        1
2  2000    3 Doors Down               Kryptonite  3:53   2000-04-08        2
3  2000    3 Doors Down                    Loser  4:24   2000-10-21        3
4  2000        504 Boyz            Wobble Wobble  3:35   2000-04-15        4
5  2000            98^0  Give Me Just One Nig...  3:24   2000-08-19        5
6  2000         A*Teens            Dancing Queen  3:44   2000-07-08        6
7  2000         Aaliyah            I Don't Wanna  4:15   2000-01-29        7
8  2000         Aaliyah                Try Again  4:03   2000-03-18        8
9  2000  Adams, Yolanda            Open My Heart  5:30   2000-08-26        9

In [7]:
ranks = pd.merge(melted_df, songs, on=["year","artist", "track", "time", "date.entered"])
ranks = ranks[["song_id", "week","rank"]]
ranks.head(10)

   song_id  week  rank
0        0   wk1  87.0
1        0   wk2  82.0
2        0   wk3  72.0
3        0   wk4  77.0
4        0   wk5  87.0
5        0   wk6  94.0
6        0   wk7  99.0
7        0   wk8   NaN
8        0   wk9   NaN
9        0  wk10   NaN

## 3. Reshape

In [5]:
import pandas as pd
df = pd.read_csv("../data/pew.csv", encoding="mac_latin2")
df.head(10)

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don‚Äôt know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162

In [6]:
# melt
melted_df = pd.melt(frame=df,
             id_vars=["religion"], 
             var_name="income", 
             value_name="freq")

melted_df = melted_df.sort_values(by=["religion", "income"])
melted_df.head(10)

     religion              income  freq
18   Agnostic             $10-20k    34
126  Agnostic           $100-150k   109
36   Agnostic             $20-30k    60
54   Agnostic             $30-40k    81
72   Agnostic             $40-50k    76
90   Agnostic             $50-75k   137
108  Agnostic            $75-100k   122
0    Agnostic               <$10k    27
144  Agnostic               >150k    84
162  Agnostic  Don't know/refused    96

In [7]:
# pivot
df = melted_df.pivot(index='religion', columns='income', values='freq')
df.head(10)

income,$10-20k,$100-150k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,<$10k,>150k,Don't know/refused
religion,,,,,,,,,,
Agnostic,34,109,60,81,76,137,122,27,84,96
Atheist,27,59,37,52,35,70,73,12,74,76
Buddhist,21,39,30,34,33,58,62,27,53,54
Catholic,617,792,732,670,638,1116,949,418,633,1489
Don‚Äôt know/refused,14,17,15,11,10,35,21,15,18,116
Evangelical Prot,869,723,1064,982,881,1486,949,575,414,1529
Hindu,9,48,7,9,11,34,47,1,54,37
Historically Black Prot,244,81,236,238,197,223,131,228,78,339
Jehovah's Witness,27,11,24,24,21,30,15,20,6,37
Jewish,19,87,25,25,30,95,69,19,151,162

## 4. 按行/列选择数据
| 操作   | 语法   |  输出
| ---- | ---- | ---- |
|   选择列   |   df[col] 或 df[[cols]]   |   Series 或 DataFrame   |
|   通过每行的标签选择行   |   df.loc[label]   |   Series   |
|   通过行号选择行   |   df.iloc[loc]   |   Series   |
|   按行切分   |   df[5:10]   |   DataFrame   |
|   通过布尔向量选择行   |   df[[bool_vec]]   |   DataFrame   |

In [ ]:
import pandas as pd
d = {
   "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
   "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
   }

df = pd.DataFrame(d)

print("选择列")
print(df[["flag", "one"]])

print("\n通过每行的标签选择行")
print(df.loc["b"])

print("\n通过行号选择行")
print(df.iloc[2])

print("\n按行切分")
print(df[1:3])

print("\n通过布尔向量选择行")
print(df[[True, False, True, False]])

## 9. 添加、删除列
可以在语义上将 DataFrame 视为 Series 对象的字典。获取、设置和删除列的操作语法与类似dict操作的语法相同
案例一：

In [1]:
import pandas as pd
d = {
   "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
   "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
   }

df = pd.DataFrame(d)

print("\n添加列：")
df["three"] = df["one"] * df["two"]
df["flag"] = df["one"] > 2
df["foo"] = "bar"
df["one_trunc"] = df["one"][:2]
print(df)

print("\n删除列：")
del df["two"]
df.pop("three")
print(df)

选择列：
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

添加列：
   one  two  three   flag  foo  one_trunc
a  1.0  1.0    1.0  False  bar        1.0
b  2.0  2.0    4.0  False  bar        2.0
c  3.0  3.0    9.0   True  bar        NaN
d  NaN  4.0    NaN  False  bar        NaN

删除列：
   one   flag  foo  one_trunc
a  1.0  False  bar        1.0
b  2.0  False  bar        2.0
c  3.0   True  bar        NaN
d  NaN  False  bar        NaN

案例二：

In [22]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

iris = load_iris()

df = pd.DataFrame(data=np.c_[iris['data'], iris['target']], columns=iris['feature_names']+['target'])

df.rename(columns={'sepal length (cm)':'SepalLength', 
                   'sepal width (cm)':'SepalWidth', 
                   'petal length (cm)':'PetalLength',
                   'petal width (cm)':'PetalWidth'}, 
          inplace=True)
print(df.head())

# 方式一
print(df.assign(sepal_ratio=df["SepalWidth"] / df["SepalLength"]).head())

# 方式二
print(df.assign(sepal_ratio=lambda x: (x["SepalWidth"] / x["SepalLength"])).head())

   SepalLength  SepalWidth  PetalLength  PetalWidth  target
0          5.1         3.5          1.4         0.2     0.0
1          4.9         3.0          1.4         0.2     0.0
2          4.7         3.2          1.3         0.2     0.0
3          4.6         3.1          1.5         0.2     0.0
4          5.0         3.6          1.4         0.2     0.0
   SepalLength  SepalWidth  PetalLength  PetalWidth  target  sepal_ratio
0          5.1         3.5          1.4         0.2     0.0     0.686275
1          4.9         3.0          1.4         0.2     0.0     0.612245
2          4.7         3.2          1.3         0.2     0.0     0.680851
3          4.6         3.1          1.5         0.2     0.0     0.673913
4          5.0         3.6          1.4         0.2     0.0     0.720000
   SepalLength  SepalWidth  PetalLength  PetalWidth  target  sepal_ratio
0          5.1         3.5          1.4         0.2     0.0     0.686275
1          4.9         3.0          1.4         0.2     0.0     0.612245
2          4.7         3.2          1.3         0.2     0.0     0.680851
3          4.6         3.1          1.5         0.2     0.0     0.673913
4          5.0         3.6          1.4         0.2     0.0     0.720000

注意：**assign 总是返回数据的副本，而原始DataFrame保持不变**

In [5]:
print(df.head())

   SepalLength  SepalWidth  PetalLength  PetalWidth  target
0          5.1         3.5          1.4         0.2     0.0
1          4.9         3.0          1.4         0.2     0.0
2          4.7         3.2          1.3         0.2     0.0
3          4.6         3.1          1.5         0.2     0.0
4          5.0         3.6          1.4         0.2     0.0

## 4. 指定某一列为索引

In [21]:
#df.set_index('target', inplace=True)
print(df.head())
print(df.loc[5])
print(type(df.loc[5]))

print("\n更改索引列")
df.set_index('target', inplace=True)
print(df.index)
print(df.loc[0.0].head())
print(type(df.loc[0.0]))

   SepalLength  SepalWidth  PetalLength  PetalWidth  target
0          5.1         3.5          1.4         0.2     0.0
1          4.9         3.0          1.4         0.2     0.0
2          4.7         3.2          1.3         0.2     0.0
3          4.6         3.1          1.5         0.2     0.0
4          5.0         3.6          1.4         0.2     0.0
SepalLength    5.4
SepalWidth     3.9
PetalLength    1.7
PetalWidth     0.4
target         0.0
Name: 5, dtype: float64
<class 'pandas.core.series.Series'>

更改索引列
Float64Index([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
              ...
              2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0],
             dtype='float64', name='target', length=150)
        SepalLength  SepalWidth  PetalLength  PetalWidth
target
0.0             5.1         3.5          1.4         0.2
0.0             4.9         3.0          1.4         0.2
0.0             4.7         3.2          1.3         0.2
0.0             4.6         3.1          1.5         0.2
0.0             5.0         3.6          1.4         0.2
0.0             5.4         3.9          1.7         0.4
0.0             4.6         3.4          1.4         0.3
0.0             5.0         3.4          1.5         0.2
0.0             4.4         2.9          1.4         0.2
0.0             4.9         3.1          1.5         0.1
0.0             5.4         3.7          1.5         0.2
0.0             4.8         3.4          1.6         0.2
0.0             4.8         3.0          1.4         0.1
0.0             4.3         3.0          1.1         0.1
0.0             5.8         4.0          1.2         0.2
0.0             5.7         4.4          1.5         0.4
0.0             5.4         3.9          1.3         0.4
0.0             5.1         3.5          1.4         0.3
0.0             5.7         3.8          1.7         0.3
0.0             5.1         3.8          1.5         0.3
0.0             5.4         3.4          1.7         0.2
0.0             5.1         3.7          1.5         0.4
0.0             4.6         3.6          1.0         0.2
0.0             5.1         3.3          1.7         0.5
0.0             4.8         3.4          1.9         0.2
0.0             5.0         3.0          1.6         0.2
0.0             5.0         3.4          1.6         0.4
0.0             5.2         3.5          1.5         0.2
0.0             5.2         3.4          1.4         0.2
0.0             4.7         3.2          1.6         0.2
0.0             4.8         3.1          1.6         0.2
0.0             5.4         3.4          1.5         0.4
0.0             5.2         4.1          1.5         0.1
0.0             5.5         4.2          1.4         0.2
0.0             4.9         3.1          1.5         0.2
0.0             5.0         3.2          1.2         0.2
0.0             5.5         3.5          1.3         0.2
0.0             4.9         3.6          1.4         0.1
0.0             4.4         3.0          1.3         0.2
0.0             5.1         3.4          1.5         0.2
0.0             5.0         3.5          1.3         0.3
0.0             4.5         2.3          1.3         0.3
0.0             4.4         3.2          1.3         0.2
0.0             5.0         3.5          1.6         0.6
0.0             5.1         3.8          1.9         0.4
0.0             4.8         3.0          1.4         0.3
0.0             5.1         3.8          1.6         0.2
0.0             4.6         3.2          1.4         0.2
0.0             5.3         3.7          1.5         0.2
0.0             5.0         3.3          1.4         0.2
<class 'pandas.core.frame.DataFrame'>

## 算数运算

### DataFrame 之间的运算
会自动对齐，无法对齐计算的结果为NaN

In [22]:
df = pd.DataFrame(np.random.randn(10, 4), columns=["A", "B", "C", "D"])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=["A", "B", "C"])

print(df+df2)

          A         B         C   D
0 -2.146374  2.816157 -0.233808 NaN
1  0.084840 -1.295670  1.572045 NaN
2 -1.858359  1.031073  0.012748 NaN
3 -1.678174  0.612198 -0.743227 NaN
4  0.259344  3.149538  1.528738 NaN
5 -0.115171  2.005839 -0.363523 NaN
6  1.517893  0.845197 -0.713599 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

### DataFrame 与 Series 之间的运算
默认行为是在DataFrame列上对齐Series索引

In [23]:
print(df - df.iloc[0])

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -0.122818 -2.804331  1.023692 -0.179254
2 -1.715853 -1.396656  0.064808  0.471526
3 -1.406908 -2.379344 -1.177743 -0.453933
4 -1.452593 -2.335547  0.730372  0.353130
5 -1.978379 -0.226348 -0.501059 -2.212686
6  0.200042 -3.092785  0.139767 -0.646990
7 -2.454655 -2.581250 -1.433988  1.170834
8 -0.740658 -2.097519  0.396698 -0.403309
9 -0.606310 -2.403896 -0.539102 -0.991267

### DataFrame 与标量计算

In [25]:
print(df * 5 + 2)
print("\n")

print(1 / df)
print("\n")

print(df ** 4)

          A          B         C         D
0  6.326814  14.296686  1.620653  3.488176
1  5.712723   0.275031  6.739112  2.591908
2 -2.252453   7.313406  1.944691  5.845804
3 -0.707726   2.399967 -4.268061  1.218508
4 -0.936149   2.618950  5.272513  5.253826
5 -3.565082  13.164948 -0.884644 -7.575253
6  7.327024  -1.167238  2.319490  0.253225
7 -5.946459   1.390434 -5.549286  9.342348
8  2.623522   3.809092  3.604141  1.471633
9  3.295266   2.277205 -1.074859 -1.468161


          A          B          C         D
0  1.155585   0.406614 -13.180555  3.359818
1  1.346721  -2.898603   1.055050  8.447260
2 -1.175792   0.941016 -90.401408  1.300118
3 -1.846568  12.501045  -0.797695 -6.398021
4 -1.702911   8.078202   1.527878  1.536653
5 -0.898459   0.447830  -1.733316 -0.522179
6  0.938610  -1.578663  15.649947 -2.862418
7 -0.629211  -8.202555  -0.662314  0.680981
8  8.018957   2.763817   3.116933 -9.463115
9  3.860211  18.037212  -1.626091 -1.441686


          A          B             C          D
0  0.560781  36.582409  3.313334e-05   0.007848
1  0.304012   0.014166  8.070639e-01   0.000196
2  0.523213   1.275299  1.497267e-08   0.350000
3  0.086008   0.000041  2.469750e+00   0.000597
4  0.118914   0.000235  1.835040e-01   0.179348
5  1.534639  24.862617  1.107870e-01  13.449963
6  1.288423   0.161006  1.667050e-05   0.014896
7  6.379910   0.000221  5.196888e+00   4.650073
8  0.000242   0.017138  1.059474e-02   0.000125
9  0.004504   0.000009  1.430279e-01   0.231482

### DataFrame 转置

In [26]:
print(df[:5].T)

          0         1         2         3         4
A  0.865363  0.742545 -0.850491 -0.541545 -0.587230
B  2.459337 -0.344994  1.062681  0.079993  0.123790
C -0.075869  0.947822 -0.011062 -1.253612  0.654503
D  0.297635  0.118382  0.769161 -0.156298  0.650765

## DataFrame与NumPy函数的互操作

### 使用NumPy ufuncs（log，exp，sqrt等）对 DataFrame 进行计算

In [33]:
df = pd.DataFrame(np.random.randn(10, 4), columns=["A", "B", "C", "D"])
print(df)

print("\n指数计算")
print(np.exp(df))

print("\n转array")
print(np.asarray(df))

          A         B         C         D
0  0.920363 -1.136099  0.039272 -0.056404
1 -1.042451  0.486291  0.466590  1.097513
2  0.863837 -1.107791  0.084759  0.478753
3  0.897284  0.558088 -0.179154 -0.461662
4  0.886460 -1.282126 -0.152255 -1.087159
5 -0.584089 -0.187413  1.342429 -0.617281
6 -1.173771 -0.448081 -1.570684 -1.361098
7 -1.510312 -0.871244  0.177987 -0.585025
8 -0.150362 -0.256548 -0.490751  0.443875
9 -0.365964 -0.064101 -0.966917  0.612064

指数计算
          A         B         C         D
0  2.510200  0.321069  1.040053  0.945157
1  0.352589  1.626274  1.594548  2.996705
2  2.372245  0.330288  1.088454  1.614061
3  2.452933  1.747329  0.835977  0.630236
4  2.426523  0.277447  0.858769  0.337173
5  0.557614  0.829101  3.828330  0.539409
6  0.309199  0.638853  0.207903  0.256379
7  0.220841  0.418431  1.194810  0.557092
8  0.860396  0.773718  0.612167  1.558735
9  0.693528  0.937910  0.380254  1.844233

转array
[[ 0.92036251 -1.13609936  0.03927205 -0.05640389]
 [-1.04245094  0.48629133  0.46659034  1.09751321]
 [ 0.86383677 -1.10779084  0.08475854  0.47875328]
 [ 0.89728449  0.55808808 -0.17915434 -0.46166165]
 [ 0.88645954 -1.28212636 -0.15225532 -1.08715915]
 [-0.58408882 -0.1874133   1.3424287  -0.6172814 ]
 [-1.17377124 -0.44808058 -1.57068371 -1.36109818]
 [-1.51031233 -0.87124421  0.17798714 -0.58502521]
 [-0.15036216 -0.25654831 -0.49075094  0.44387476]
 [-0.36596423 -0.06410091 -0.96691672  0.61206368]]